@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Root().Children.Where(x => x.IsVisible()).ToArray(); }
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" style="color:white" href="@Model.Content.Root().Url">@Model.Content.Root().Name</a>
        </li>


        @if (selection.Length > 0)
        {
            @* @item.Url links to the Url of the page. And @item.Name displays the  *@
            foreach (var item in selection)
            {
                if (Umbraco.MemberHasAccess(item.Path))
                {
                    <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null) nav-item">
                        <a class="nav-link" style="color:white" href="@item.Url">@item.Name</a>
                    </li>
                }
            }
        }

        @*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            @foreach (var project in Model.Content.Root().FirstChildOfType("projectsOverview").Children<ProjectItem>().Where(x => x.IsVisible()))
            {
                if (project.ProjectStatus.ToString() == "Completed")
                {
                    <a class="dropdown-item" href="@project.Url"> @project.ProjectTitle</a>
                }
            }
        </div>*@
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" style="color:white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Articles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @foreach (var article in Model.Content.Root().FirstChildOfType("articlesOverview").Children<ArticleItem>())
                {
                    if (Umbraco.MemberHasAccess(article.Path))
                    {
                        <a class="dropdown-item" href="@article.Url"> @article.ArticleTitle</a>
                    }
                }
            </div>
        </li>

    </ul>
</nav>